body {
  font-family: Helvetica, sans-serif;
  background-color: #f2f1f0;
  border: 10px solid #5a5a5b;
  border-top: 25px solid #5ddc28;
  margin: 0;
  padding: 1%;
}

li {
  list-style-type: none;
  margin-bottom: 1%;
}

button {
  background: #5a5a5b;
  color: #f2f1f0;
  border: 5px double #f2f1f0
}